body {
  background-image: url("images/clouds.jpg");
  font-family: "Lora", sans-serif;
  color: #302731;
  font-size: 15px;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  color: #302731;
  font-size: 25px;
  line-height: 2em;
}


h1 {
  font-size: 20px;
}

a {
  color: #626F92;
  text-decoration: none;
  letter-spacing: 1.5px
}

a i:hover {
  color: #001430;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.container {
  margin: 50px 20px 50px 20px;
}

.card {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 25px auto;
  width: 1000px;
  border-radius: 30px;
  border: 1px solid lightgrey;
}

.list-inline > li {
  display: inline-block;
  padding: 40px 40px;
  font-size: 20px;
}

.img-spacing {
  padding: 30px 80px 30px 30px;
  opacity: 0.9
}

.img-circle {
  border-radius: 40px;
}

#profile-circle {
  border-radius: 25px;
}


